.item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    -2px -2px 4px rgba(255, 255, 255, 0.7);
}
.status {
  padding: 12px;
  border-radius: 50%;
}
.avatar {
  width: 50px;
  padding: 14px;
  border-radius: 10%;
}
.name {
  font-weight: 500;
  font-size: 18px;
}
