.statistics {
  padding: 10px;
  max-width: 240px;
  margin-bottom: 20px;
  border: 1px solid #5a5858a6;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    -2px -2px 4px rgba(255, 255, 255, 0.7);
}
.title {
  padding: 10px 0;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    -2px -2px 4px rgba(255, 255, 255, 0.7);
}
.statList {
  display: flex;
  gap: 4px;
  justify-content: space-around;
  align-items: center;
}
.statListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label {
  font-size: 12px;
  font-weight: 700;
}
.percentage {
  font-size: 16px;
}
