.transactionHistory {
  flex-basis: calc((100% - 75px) / 4);
  border-collapse: collapse;
  border: 1px solid #5a5858a6;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    -2px -2px 4px rgba(255, 255, 255, 0.7);
}

.transactionHistory th,
.transactionHistory td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.transactionHistory th {
  background-color: #68c5f0;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.transactionHistory td {
  color: #00000080;
  font-size: 14px;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #e6f7ff;
}

.transactionHistory tbody tr:hover {
  background-color: #68c5f0;
}
